.dateTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.time {
    margin: 5px;
    font-size: 35px;
    color: white;
}

.date {
    font-size: 20px;
    margin: 0px;
    color: white;
}