/*Tier 2 (Phones)*/
.dateTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.updated {
    color: white;
    margin: 0px;
    font-size: 15px;
    font-style: italic;
}

.time {
    margin: 5px;
    font-size: 50px;
    color: white;
}

.date {
    font-size: 20px;
    margin: 0px;
    color: white;
}

/*Tier 1 (Small phones)*/
@media screen and (max-width: 380px) {
    .updated {
        font-size: 12px;
    }

    .time {
        font-size: 40px;
    }

    .date {
        font-size: 18px;
    }
}

/*Tier 3 (Small tablets)*/
@media screen and (min-width: 500px) and (max-width: 768px) {
    .updated {
        font-size: 18px;
    }

    .time {
        font-size: 60px;
    }

    .date {
        font-size: 22px;
    }
}