/*Tier 2 (Phones)*/
.searchForm {
    display: flex;
    align-items: center;
}

.inputField {
    width: 200px;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    margin: 0px;;
}

.inputField::placeholder {
    color: black;
}

.searchButton {
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

/*Tier 1 (Small phones)*/
@media screen and (max-width: 380px) {
    .inputField {
        width: 180px;
        font-size: 14px;
    }
}

/*Tier 3 (Tablets)*/
@media screen and (min-width: 500px) and (max-width: 768px) {
    .inputField {
        width: 200px;
        font-size: 18px;
    }
}