/*Tier 2 (Phones)*/
.weatherInfo{
    display: grid;
    grid-template-columns: (1, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    width: 75%;
    margin: 20px auto;
}

.box {
    background: rgba(255,255,255, .5);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.temperature {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.condition {
    font-size: 25px;
    margin: 5px;
    text-align: center;
    width: 75%;
}

.condition-icon {
    width: 50px;
}


.clothesImg {
    width: 175px;
    height: auto;
}

/*Tier 1 (Small phones)*/
@media screen and (max-width: 380px) {
    .weatherInfo {
        grid-template-columns: (1, 150px);
        grid-template-rows: repeat(2, 150px);
    }

    .temperature {
        font-size: 45px;
    }

    .condition {
        font-size: 22px;
    }

    .condition-icon {
        width: 40px;
    }

    .clothesImg {
        width: 130px;
    }
}