body {
  background: url("./images/background.svg") no-repeat fixed; 
  background-position-y: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Alike', serif;
}

.main-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}